# Copy this file to `liquibase.properties` and adjust values for your environment

classpath: ./
changeLogFile: db/changelog/db.changelog-master.yaml

# JDBC URL form. If using the Liquibase CLI with a local Postgres instance:
# Example URL equivalent to: postgres://postgres:postgres@localhost:5432/yscraper
url: jdbc:postgresql://localhost:5432/yscraper
username: postgres
password: postgres

# Optional. Enable to log SQL
logLevel: info
